<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PostBBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
		<add name="etoland.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=linkeye6;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
 <applicationSettings>
  <PostBBS.Properties.Settings>
   <setting name="bbsisexistapi" serializeAs="String">
    <value />
   </setting>
   <setting name="postbbsapi" serializeAs="String">
    <value>321</value>
   </setting>
   <setting name="postimgapi" serializeAs="String">
    <value />
   </setting>
  </PostBBS.Properties.Settings>
 </applicationSettings>
	<appSettings>
		<add key="bbsisexistapi" value="http://localhost:27154/bbs/BBSIsExist" />
		<add key="postbbsapi" value="http://localhost:27154/bbs/PostBBS" />
		<add key="postimgapi" value="http://localhost:27154/bbs/PostImage" />
	</appSettings>
</configuration>
