<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

	<connectionStrings>
		<add name="MainForm.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=linkeye6;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="NodeId" value="12"/>
		<!--<add key="bbsisexistapi" value="http://localhost:27154/bbs/BBSIsExist" />
		<add key="postbbsapi" value="http://localhost:27154/bbs/PostBBS" />
		<add key="postimgapi" value="http://localhost:27154/bbs/PostImage" />-->
		<add key="bbsisexistapi" value="http://103.215.173.130:1003/bbs/BBSIsExist" />
		<add key="postbbsapi" value="http://103.215.173.130:1003/bbs/PostBBS" />
		<add key="postimgapi" value="http://103.215.173.130:1003/bbs/PostImage" />
	</appSettings>
</configuration>